In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [5]:
df = spark.read.csv("example_3.csv", header=True, inferSchema=True)
df.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Agatha| 31|        12| 30000|
|     Beth| 32|         2| 25000|
|  Charles| 44|        12| 20000|
|   Damian| 23|        43| 20000|
|    Euler| 12|        12| 15000|
|Feuerbach| 23|        23| 18000|
|  Gabriel| 23|        43| 40000|
|    Henry| 28|        19| 38000|
|  missing| 34|        10| 25750|
|  missing| 36|        19| 25750|
+---------+---+----------+------+

In [8]:
df.filter("Age >= 18").select(["Name", "Salary"]).show()

+---------+------+
|     Name|Salary|
+---------+------+
|   Agatha| 30000|
|     Beth| 25000|
|  Charles| 20000|
|   Damian| 20000|
|Feuerbach| 18000|
|  Gabriel| 40000|
|    Henry| 38000|
|  missing| 25750|
|  missing| 25750|
+---------+------+

In [10]:
df.filter((df["Age"] >= 18) &
        (df["Age"] <= 30)).select(["Name", "Salary"]).show()

+---------+------+
|     Name|Salary|
+---------+------+
|   Damian| 20000|
|Feuerbach| 18000|
|  Gabriel| 40000|
|    Henry| 38000|
+---------+------+

In [11]:
df.filter(~(df["Age"] >= 18)).select(["Name", "Salary"]).show()

+-----+------+
| Name|Salary|
+-----+------+
|Euler| 15000|
+-----+------+